
.scroll {
  height: 700px;
  overflow: auto;
  float: left;
  margin: 0 10px;
}

.content {
  height: 800px;
}

.scroll1::-webkit-scrollbar {
  width: 5px;
}
 
.scroll1::-webkit-scrollbar-track {
  background: #ddd;
}
 
.scroll1::-webkit-scrollbar-thumb {
  background: #666; 
}




